[*.cs]

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none
# SA1200: Using directive should appear within a namespace declaration
dotnet_diagnostic.SA1200.severity = none
# SA1309: Fields should not begin with an underscore
dotnet_diagnostic.SA1309.severity = none
# SA1633: The file header is missing or not located at the top of the file.
dotnet_diagnostic.SA1633.severity = none
